/* style.css에 다른 css 삽입해줘서 하나만 link 연결해주기 */
@import "reset.css";
@import "header.css";
@import "footer.css";
@import "main.css";

:root {
  --button-primary: rgb(254, 111, 15);
  --button-hover: rgba(254, 111, 15, 0.8);
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Apple SD Gothic Neo",
    "Pretendard Variable", Pretendard, Roboto, "Noto Sans KR", "Segoe UI",
    "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
    sans-serif;
  /* position: relative; */
}
/* 380 보다 커지면 메시지 송부 */

.media-info-msg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: salmon;
  /* opacity: 0; */
}

@media screen and (max-width: 500px) {
  .media-info-msg {
    /* opacity: 1; */
    display: none;
  }
}
